{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}

<table class="table table-hover">

    <thead>
        <tr>
            <th>Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unique_Tag</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ prouct["id"] }}</td>
                <td>{{ prouct["name"] }}</td>
                <td>{{ prouct["price"] }}</td>
                <td>{{ prouct["description"] }}</td>
                <td>{{ prouct["category"] }}</td>
                <td>{{ prouct["quantity"] }}</td>
                <td>{{ prouct["unique_tag"] }}</td>
                <td class="text-right" <a class="btn btn-info btn-sm" href="" role="button">Re-Activate</a></td>

            </tr>
        </tbody>
    </thead>
  </table>

  {% endfor %}





{% endblock %}
